.faq-article {
    text-align: left;
}

.faq-article h3 {
    cursor: pointer;
    display: inline;
}

.faq-btn {
    height: 30px;
    width: 30px;
    display: inline-block;
    position: relative;
    left: 0;
    background-color: beige;
}

.faq-para {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}