/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); */

main, .parallax, #ploygon4, #base3{
	max-width:1650px;
}

.navbar{
	max-width: 100%;
	margin: 0 auto;
}

body,html{
	font-family: "Avenir","Noto Sans KR" !important;	
	background-size: cover; 
	background-image: url('../img/bg-min.png');
	overflow-x:hidden;	
}

@media only screen and (max-width: 1650px) {
body,html{
	font-family: "Avenir","Noto Sans KR" !important;
	
	background-image: url('../img/bg-min.png');
	overflow-x:hidden;	
}
}

body{
	position:relative;
}

.transparent{
	background-color:transparent !important;
}

main{
	/* background:#000000;; */
	margin:0 auto;
}

main .container{
	max-width:100% !important;
	padding:0px;
	/* background-image: url("../img/bg-min.png"); */
	/* background-size: contain; */
	/* background-color:#041c53; */
	/* background-image: linear-gradient(to bottom, #1a45da, #1943d5 9%, #001950 22%, #163dc2 66%, #001950); */
}

#go_to_top{
	position:fixed;
	bottom: 0px;
	width:100%;
	z-index:10000;
	display:none;
}

#go_to_top .content{
	opacity: 0.4 !important;
}
#go_to_top img{
	width:39px;
}

.show{
	display: block !important;
}

.align-right{
	text-align:right;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.text-category{
	
	text-transform: uppercase;
	height: 55px;
	font-size: 40px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	float: right;
	color: #ffffff;
}
/* parallax */

.pin{
	position: relative;
	top: -220px;
	font-size:1px;
}

about .pin{
	top: -100px;
}

whitepaper .pin{
	top: -350px;
}

team .pin{
	top: -195px;
}


.content{
	/* max-width:1400px; */
	max-width:1650px;
	margin:0 auto;
	padding:0px 70px;
	opacity:0;
}

/* end of parallax */

.copyright{
	
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	padding-top:69px;
	padding-bottom:115px;
	color: #ffffff;
	/* background-color:#000; */
	/* float:left; */
	width:100%;
}

/* zeplin */

.TEMCO-LOGO {
	width: 104px;
	height: 28px;
	object-fit: contain;
}
/* end of zeplin */

.header-title {
	font-size: 50px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	color: #ffffff;
}

/* mobile */


@media only screen and (max-width: 1250px) {
	main .container{
		background-size: auto;
		
	}
}

@media only screen and (max-width: 1024px) {
	.content{
		padding-left:50px;
		padding-right:50px;
		max-width:1024px;
	}

	main .container{
		background-size: auto;
		
	}

	.header-title {
		font-size: 30px;
	}
}
/* 
@media only screen and (max-width: 900px) {
	.content{
		padding-left:50px;
		padding-right:30px;
		max-width:900px;
	}
} */

@media only screen and (max-width: 767px) {
	.content{
		padding-left:50px;
		padding-right:50px;
		max-width:768px;
	}
	.hide-mobile{
		display:none;
	}
}

@media only screen and (max-width: 450px) {

	.header-title {
		font-size: 14px;
	}

	.content{
		padding-left:30px;
		padding-right:30px;
		
	}
	
	.text-category{
		font-size: 24px !important;
	}

	/* .text-sub-category{
		font-size: 12px !important;
	} */

	/* .text-desc{
		font-size: 8px !important;
	} */

	.text-small{
		font-size: 12px !important;
	}

	whitepaper .pin{
		top: -130px;
	}

	technology .pin{
		top: -130px;
	}

	token .pin{
		top: -60px;
	}

	team .pin{
		top: -135px;
	}

	community .pin{
		top: -150px;
	}

	footer .pin{
		top: -150px;
	}
}

/* iphone 6 7 8 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
	.hide-375{
		display:none;
	}

	.text-main{
		font-size: 23px ;
	}

	.text-category{
		font-size: 16px !important;
	}

	.text-sub-category{
		font-size: 12px !important;
	}

	.text-desc{
		font-size: 8px !important;
	}

	.text-small{
		font-size: 12px !important;
	}
}

/* iphone 6 7 8 plus */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {

	overflowing_content_div { 
		overflow:hidden; 
	}

	.hide-375{
		display:none;
	}

	.text-main{
		font-size: 23px ;
	}

	.text-category{
		font-size: 16px !important;
	}

	.text-sub-category{
		font-size: 12px !important;
	}

	.text-desc{
		font-size: 8px !important;
	}

	.text-small{
		font-size: 12px !important;
	}
}

@media only screen and (max-width: 450px) {
	/* .content{
		padding-left:30px;
		padding-right:30px;
		
		max-width:450px;
		margin-top: 45px !important;
	} */
}

/* iphone x  */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
	.text-main{
		font-size: 23px ;
	}

	.text-category{
		font-size: 16px !important;
	}

	.text-sub-category{
		font-size: 12px !important;
	}

	.text-desc{
		font-size: 8px !important;
	}

	.text-small{
		font-size: 12px !important;
	}
}

/* galxay  */
/* @media only screen and (max-width: 360px) {
	
	.hide-375{
		display:none;
	}

	.text-main{
		font-size: 23px ;
	}

	.text-category{
		font-size: 16px !important;
	}

	.text-sub-category{
		font-size: 12px !important;
	}

	.text-desc{
		font-size: 8px !important;
	}

} */


/* end of mobile */
