<div class="advisor-board-wrapper">
		<div class="advisor-board-item" ng-click="open_advisor(0)">
			<div class="advisor-board-image">
				<img src="/bio/data/gabriel_kurman.png"/>
			</div>
			<div class="board-text-wrapper">
				gabriel_kurman
			</div>
		</div>
		<div class="advisor-board-item" ng-click="open_advisor(1)">
			<img src="/bio/data/will_o_brien.png"/>
			will_o_brien
		</div>
	</div>
	<div class="advisor-board-detail-wrapper">
		<div class="advisor-board-detail" ng-style="isShow(0)">
			김경철은 개발자이다.
		</div>
		<div class="advisor-board-detail" ng-style="isShow(1)">
			김경철은 개발자이다.2
		</div>
</div>