.portrait{
	max-width: 230px;
	height: 422px;
	margin:0 auto;
	background-image: url(../img/bio-bg.png);
	background-repeat: no-repeat;
}

.portrait-advisor{
	max-width: 200px;
	height: 422px;
	margin:0 auto;
	background-image: url(../img/bio-bg.png);
}

.portrait .linkedin{
	right : 22px;
	bottom: -35px;
	margin-bottom:22px;	
	position: absolute;
}

.portrait-advisor .linkedin{
	right : 29px;
	bottom: -35px;
	margin-bottom:22px;	
	position: absolute;
}

.portrait .linkedin img{
	width: 35px;
	height: 40px;
	cursor: pointer;
}
		
.mug-logo-container {
	opacity: 0;
	transition: .5s ease;			
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

/* .mug:hover .mug-inner {
	opacity: 0.7;
	background-color: #73beca;
	background-blend-mode: multiply;
} */

.portrait:hover .mug-inner {
	opacity: 0.7;
	background-color: #73beca;
	background-blend-mode: multiply;
}

.portrait:focus .mug-inner {
	opacity: 0;
	background-color: #442333;
	background-blend-mode: multiply;
}

.portrait:hover .team-info-wrapper {
	display: none;
}

.portrait:focus .team-info-wrapper {
	display: none;
}

.portrait:hover .team-info-detail-wrapper {
	transition: 1s ease;			
	opacity: 1;
}
	
.portrait:focus .team-info-detail-wrapper {
	transition: 1s ease;			
	opacity: 1;
}

.portrait:hover .mug-logo-container {
	opacity: 1;
}

.portrait:focus .mug-logo-container {
	opacity: 1;
}


/* advisor */
.portrait-advisor:hover .team-info-wrapper-advisor {
	display: none;
}

.portrait-advisor:focus .team-info-wrapper-advisor {
	display: none;
}

.portrait-advisor:hover .team-info-detail-wrapper {
	transition: 1s ease;			
	opacity: 1;
}
	
.portrait-advisor:focus .team-info-detail-wrapper {
	transition: 1s ease;			
	opacity: 1;
}

.portrait-advisor:hover .team-info-wrapper-advisor {
	display: none;
}

.portrait-advisor:focus .team-info-wrapper-advisor {
	display: none;
}

.portrait-advisor:hover .mug-inner-advisor {
	opacity: 0.7;
	background-color: #73beca;
	background-blend-mode: multiply;
}

.portrait-advisor:focus .mug-inner-advisor {
	opacity: 0;
	background-color: #442333;
	background-blend-mode: multiply;
}

.mug-logo  {
	position: absolute;
	top: -80px;
	left: 170px;	
}

.mug{
	padding-top: 29px;
	padding-right: 40px;
	position: relative;
}

.mug-inner{
	max-width: 190px;
	height: 190px;
	background-size:cover;
	padding-bottom:100%;
}

.mug-inner-advisor{
	max-width: 160px;
	height: 160px;
	background-size:cover;
	padding-bottom:100%;
}

.team-name{
	margin-top:24px;
	margin-bottom:3px;
	
	font-size: 16px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.team-title{
	margin-bottom:10px;
	
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #00fff7;
}

.team-line {
	width: 128px;
	height: 1px;
	background-color: #00fff7;
  }

  .team-info-wrapper{
	margin-left: 30px;
  }

  .team-info-detail-wrapper{
	opacity: 0;
	position: absolute;
	top: 0;
	margin-left: 30px;
	
}

  .team-info-wrapper-advisor{
	margin-left: 19px;
	}

.bio{
	max-width: 170px;
	font-size: 10px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: -0.3px;
	text-align: left;
	color: #ffffff;
	margin-top: 24px;
}

.bio-detail{
	margin-bottom: 5px;
}

.bio img{
	width: 5px;
	height: 5px;
}

.bio-image-div{
	width: 75px;
	height: 35px;
	margin-right: 15px;
	position: relative;
}


.bio-image{
	float: left;
	max-width: 100%;
	max-height: 35px;
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


@media only screen and (max-width: 760px) {
    .mug-logo-container {
        display: none;
    }
}

@media only screen and (max-width: 450px) {

	.portrait:hover .mug-inner {
		opacity: 1;
		background-color: transparent;
		background-blend-mode: multiply;
	}

	.portrait-advisor:hover .mug-inner-advisor {
		opacity: 1;
		background-color: transparent;
		background-blend-mode: multiply;
	}
}