.portrait{
	max-width: 230px;
	height: 423px;
	margin:0 auto;
	background-image: url(../img/rectangle-13.png);
}

.portrait-advisor{
	max-width: 200px;
	height: 423px;
	margin:0 auto;
	background-image: url(../img/rectangle-13.png);
}

.portrait .linkedin{
	right : 22px;
	bottom: -35px;
	margin-bottom:22px;	
	position: absolute;
}

.portrait-advisor .linkedin{
	right : 29px;
	bottom: -35px;
	margin-bottom:22px;	
	position: absolute;
}

.portrait .linkedin img{
	width: 35px;
	height: 40px;
	cursor: pointer;
}

@media only screen and (min-width: 760px) {
		
	.mug-logo-container {
		opacity: 0;
		transition: .5s ease;			
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	}

	.mug:hover .mug-inner {
		opacity: 0.7;
		background-color: #73beca;
		background-blend-mode: multiply;
	}

	.mug:hoverr {
		opacity: 0.7;
		background-color: #73beca;
		background-blend-mode: multiply;
	}
	
	.mug:hover .mug-logo-container {
		opacity: 1;
	}


	.mug-logo  {
		position: absolute;
		top: -80px;
		left: 170px;	
	}
}

@media only screen and (max-width: 760px) {
    .mug-logo-container {
        display: none;
    }
}


.mug{
	padding-top: 29px;
	padding-right: 40px;
	position: relative;
}

.mug-inner{
	max-width: 190px;
	height: 190px;
	background-size:cover;
	padding-bottom:100%;
}

.mug-inner-advisor{
	max-width: 154px;
	height: 154px;
	background-size:cover;
	padding-bottom:100%;
}

.team-name{
	margin-top:24px;
	margin-bottom:3px;
	font-family: Avenir;
	font-size: 16px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.team-title{
	margin-bottom:10px;
	font-family: Avenir;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #00fff7;
}

.team-line {
	width: 128px;
	height: 1px;
	background-color: #00fff7;
  }

  .team-info-wrapper{
	  margin-left: 30px;
  }

  .team-info-wrapper-advisor{
	margin-left: 19px;
	}

.bio{
	font-family: Raleway;
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	text-align: left;
	color: #344765;
}

.bio img{
	width: 5px;
	height: 5px;
}

.bio-image-div{
	width: 75px;
	height: 35px;
	margin-right: 15px;
}

.bio-image{
	float: left;
	max-width: 100%;
	max-height: 35px;
}