<!-- <div id="teamDropContainer" >
	<img id="teamDropImg" style="width: 100px;" src="img/drop_team.png" />
</div> -->

<div id="parallax11" class="parallax">
	<div class="content">
		<div class="row">
		<div class="text-category team-text-container" style="margin: 669px auto 207px auto;">
			TEAM
			<!-- <img id="dot-img" style="margin-top: 15px;" class="dot" src="img/copy9@2x.png" /> -->
			<a name="team" style="top:-195px;" class="pin">&nbsp;</a>
		</div>
	</div>
		<div>
			<div id="teamMembers" class="portrait-container" ng-repeat="teamMember in teamMembers">
				<bio data="{{teamMember}}" />
			</div>			
		</div>
	</div>
	
	<div class="content">
			<div class="row">
			<div class="text-category team-text-container" style="margin: 410px auto 190px auto;">
		ADVISORY
		</div>
	</div>	
	<div>		
		<div class="portrait-container-advisor" ng-repeat="advisor in advisors">
			<advisor data="{{advisor}}" />
		</div>
	</div>
	</div>
	
</div>
</div>