<!-- <div id="teamDropContainer" >
	<img id="teamDropImg" style="width: 100px;" src="img/drop_team.png" />
</div> -->

<div id="parallax11" class="parallax">
	<div class="content">
		<div class="row">
		<div class="team-text-container team-margin animated" data-animate="fadeInUp" data-delay="0.3">
			TEAM
			<a name="team" class="pin">&nbsp;</a>
		</div>
	</div>
		<div>
			<div id="teamMembers" class="portrait-container"
			 ng-repeat="teamMember in teamMembers">
				<bio data="{{teamMember}}" />
			</div>			
		</div>
	</div>
	
	<div class="content">
			<div class="row">
			<div class="team-text-container advisor-margin">
		ADVISOR
		</div>
	</div>	
	<div>		
		<div class="portrait-container-advisor animated" data-animate="fadeInUp" data-delay="0.3" ng-repeat="advisor in advisors">
			<advisor data="{{advisor}}" />
		</div>
	</div>
	</div>
	
</div>
</div>