#parallax6 {
	background-position-x:center;
	/* margin-top:-516px; */
	position:relative;
	z-index:1002;
	padding-top:200px;
	background-repeat: no-repeat;
	/* min-height:1757px; */
	background-size: auto 100%;
}

#cubeDropImg{
	margin: 0 auto;
	margin-top: -106px;
	width: 100px;
	/*background-image: url(../img/cube_drop.png);*/
	height: 307px;
	background-position-y: bottom;
	background-size: cover;	
}

#igTechnology, #igTechnologySmall{
	max-width: 892px;
	width:100%;
	margin: 0 auto;
	margin-bottom: 300px;
}

#igTechnologySmall{
	display:none;
}

#bgTechnologyTop{
	position: absolute;
	right: 0;
	top: 20px;
}

#bgTechnologyTop img{
	width:408px;
}

#technologyHeader{

  height: 53px;
  
  font-size: 50px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: justify;
  color: #ffffff;
  width: 355px;
  margin: 0 auto;
  text-transform: uppercase;
}

.technologyText{
	width: 800px;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-align: justify;
	color: #ffffff;
	margin-top: 52px;
	/* margin-left: 135px; */
	margin-bottom: 106px;
}

#bgTechnologyBottom{
	bottom: 40px;
	position:absolute;
	z-index:20;
}

#bgTechnologyBottom img{
	width:300px;
}

#dropTechnology{
	text-align: center;
}

#technologyWeb{
	margin: 0 auto;
}

.techLine{
	width: 378px;
	height: 2px;
	border: solid 1px #ffffff;
	margin-top: 22.4px;
	margin-bottom: 21px;
}

.techBox{
	width: 378px;
	float: right;
}

.techBoxHeader{
	height: 21.6px;
	
	font-size: 20px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.08;
	letter-spacing: normal;
	text-align: right;
	color: #ffffff;
	text-transform: uppercase;
}

.techBoxSubHeader{
	float: right;
	position: absolute;
	right: 0px;
	top: -11px;
	font-size: 14.4px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: right;
	color: #ffffff;
	text-transform: uppercase;
}

.techBoxText{
	position: relative;
	height: 21.6px;
	
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.35;
	letter-spacing: normal;
	text-align: justify;
	color: #ffffff;
	margin-bottom: 12.4px;
	text-transform: uppercase;
}

#technologyContent{
	margin:0 auto;
}

#techboxMT1{
	margin-top: 50px;
}

#techboxMT2{
	margin-top: 178px;
	margin-left: 200px;
}

#techboxMT3{
	margin-top: 77px;
}

#technologyImage{
	max-width:843px; width:80vw; margin: 0 auto 0 auto;
}

/* @media only screen and (max-width: 1200px) {
	#igTechnology img{
		max-width: 383px;
    	width: 65%;
	}
} */

@media only screen and (max-width: 1024px) {

	#technologyContent{
		margin:0 auto;
	}

	#igTechnology {
		max-width:802.8px;
	}

	#dropTechnology{
		height:276.3px;
		margin-top: -118px;
		text-align: center;
	}

	#parallax6 {
		
	}

	#bgTechnologyTop{
		top: 50px;
	}

	#bgTechnologyTop img{
		width:300px;
	}

	#bgTechnologyBottom{
		bottom: 100px;
	}

	#bgTechnologyBottom img{
		width:200px;
	}

	#technologyWeb{
		order:1;
		float: none;
		margin: 0 auto;
	}

	#technologyHeader {
		width: 400px;
		height: 24px;
		
		font-size: 30px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.8;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		margin: 0 auto;
		float: none;
	}

	.technologyText {
		max-width: 500px;
		width: auto;
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: justify;
		color: #ffffff;
		margin: 72px auto 100px auto;
	}

	.techBoxHeader{
		height: 21.6px;
		
		font-size: 9px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.4;
		letter-spacing: normal;
		text-align: right;
		color: #ffffff;
		text-transform: uppercase;
	}
	
	.techLine{
		width: 150px;
		height: 2px;
		border: solid 0.5px #ffffff;
		margin: 0px;
	}

	.techBox{
		width: 150px;
		margin-left: 80px;
	}

	.techBoxSubHeader {
		float: right;
		position: absolute;
		right: 0px;
		top: -5px;
		font-size: 7px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 3.09;
		letter-spacing: normal;
		text-align: right;
		color: #ffffff;
		text-transform: uppercase;
	}

	.techBoxText{
		position: relative;
		height: 21.6px;
		
		font-size: 8px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.7;
		letter-spacing: normal;
		text-align: justify;
		color: #ffffff;
		margin-bottom: 0px;
		text-transform: uppercase;
	}

	#techboxMT1{
		margin-top: 0px;
	}
	
	#techboxMT2{
		margin-top: 37px;
	}
	
	#techboxMT3{
		margin-top: 24px;
	}
}

@media only screen and (max-width: 767px) {

	#parallax6 {
		
	}

	#bgTechnologyTop{
		top: 100px;
	}

	#bgTechnologyTop img{
		width:200px;
	}

	#bgTechnologyBottom{
		bottom: 150px;
		position:relative;
	}

	#bgTechnologyBottom img{
		width:200px;
	}

	#dropTechnology{
		margin-top:-129px;
		text-align: center;
	}

	#technologyHeader {
		width: 300px;
		height: 24px;
		
		font-size: 30px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.8;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		margin: 0 auto;
		float: none;
	}
}


@media only screen and (max-width: 450px) {

	#technologyWeb{
		margin-bottom: 30px;
	}

	#parallax6 {
		padding-top: 100px;
	}

	#bgTechnologyTop{
		top: 100px;
	}

	#bgTechnologyTop img{
		width:200px;
	}

	#bgTechnologyBottom{
		bottom: 150px;
		position:relative;
	}

	#bgTechnologyBottom img{
		width:200px;
	}

	#dropTechnology{
		margin-top:-129px;
		text-align: center;
	}

	#technologyWeb{
		order:1;
		/* margin-left: 0px; */
	}
	
	#technologyHeader{
		float:none;
		text-align: center;
		width: 100%;
		height: 24px;
		font-size: 14px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		color: #ffffff;
		float: left;
		margin: 0 auto;
	}

	.technologyText{
		width: 260px;
		opacity: 0.8;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		color: #ffffff;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 42px;
		float: none;
	}

	#igTechnology{
		display: none;
	}

	#igTechnologySmall{
		display: block;
	}

	#igTechnology, #igTechnologySmall{
		max-width: 892px;
		width:100%;
		margin: 0 auto;
		margin-bottom: 0px;
	}

	#technologyContent{
		margin:0 30px 0 30px;
		padding: 0px;
	}

	.techBoxHeader{
		height: 21.6px;
		
		font-size: 9px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.4;
		letter-spacing: normal;
		text-align: right;
		color: #ffffff;
		text-transform: uppercase;
	}
	
	.techLine{
		width: 150px;
		height: 2px;
		border: solid 0.5px #ffffff;
		margin: 0px;
	}

	.techBox{
		width: 150px;
	}

	.techBoxSubHeader {
		float: right;
		position: absolute;
		right: 0px;
		top: -5px;
		font-size: 7px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 3.09;
		letter-spacing: normal;
		text-align: right;
		color: #ffffff;
		text-transform: uppercase;
	}

	.techBoxText{
		position: relative;
		height: 21.6px;
		
		font-size: 8px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.7;
		letter-spacing: normal;
		text-align: justify;
		color: #ffffff;
		margin-bottom: 0px;
		text-transform: uppercase;
	}

	#techboxMT1{
		margin-top: 0px;
	}
	
	#techboxMT2{
		margin-top: 37px;
	}
	
	#techboxMT3{
		margin-top: 24px;
	}

	#technologyImage{
		max-width:843px; width:80vw; margin: 0 auto 0 auto;
	}
}