<div class="footer-backimage">
	<div style="margin: 0 auto;">
		<a name="community" class="pin">&nbsp;</a>
		<div id="star_wrapper" style="position: relative; top:-500px;left: 1200px;">
			<img src="img/star_line.png" class="shining_star" style="margin-left: 100px; position: absolute; left: 0; animation-delay: 0s"
			 alt="star_line" />
			<img src="img/star_line.png" class="shining_star" style="margin-left: 100px; position: absolute; left: 20px; animation-delay: 1s"
			 alt="star_line" />
			<img src="img/star_line.png" class="shining_star" style="margin-left: 100px; position: absolute; left: 40px; animation-delay: 2s"
			 alt="star_line" />
		</div>
		<div class="social-media">
			<a target="_blank" href="https://medium.com/temcolabs" title="medium link" class="animated" data-animate="fadeInUp" data-delay="1.0">
				<img src="img/footer_icon/medium@3x.png" alt="medium-icon" />
			</a>
			<a target="_blank" href="https://brunch.co.kr/@temcolabs" title="brunch link">
				<img src="img/footer_icon/brunch@3x.png" alt="brunch-icon" />
			</a>
			<a target="_blank" href="https://www.facebook.com/TEMCOLABS/" title="facebook link">
				<img src="img/footer_icon/facebook@3x.png" alt="facebook-icon" />
			</a>
			<a target="_blank" href="https://twitter.com/TEMCOLABS" title="twitter link">
				<img src="img/footer_icon/twitter@3x.png" alt="twitter-icon" />
			</a>
		</div>
		<div class="social-media">
			<a target="_blank" href="https://t.me/HITEMCO" title="telegram link">
				<img src="img/footer_icon/telegram@3x.png" alt="telegram-icon" />
			</a>
			<a target="_blank" href="https://t.me/TEMCOLABS" title="telegram en link">
				<img src="img/footer_icon/telegram_en@3x.png" alt="telegram-icon" />
			</a>
			<!-- <a target="_blank" href="https://t.me/TEMCOKR" title="telegram kr link">
		<img src="img/telegram_kr@3x.png" />
		</a> -->
			<!-- <a target="_blank" href="https://open.kakao.com/o/gkG9IoK" title="kakaotalk link"> -->
			<!-- <a target="_blank" ng-click="kakaoClick()" title="kakaotalk link"> -->
			<a target="_blank" ng-click="$parent.$ctrl.openkakao()" title="kakaotalk link">
				<img src="img/footer_icon/kakao@3x.png" alt="kakao-icon"/>
			</a>

			<!-- <span ng-click="$parent.$ctrl.openkakao()"></span> -->
			<a target="_blank" href="https://steemit.com/@temcolabs" title="steemit link">
				<img src="img/footer_icon/steemit@3x.png" alt="steemit-icon"/>
			</a>
		</div>
	</div>
	<div style="max-width: 1474px; margin: 0 auto;">
		<img src="img/footer.png" alt="footer-image" style="width: 100%; margin-top: 50px;" />
	</div>
</div>

<div style="padding-top: 100px">
	<img class="footer-logo" src="img/footer-logo.png" alt="temco-logo">
	<div class="footer-text" translate>
		{{'footer.contents'}}
	</div>
	<div class="copyright" translate>
		{{'footer.copyright'}}
	</div>
</div>