<div id="parallax2" class="parallax">
	<div id="about-container" class="content">
		<div class="row" style="margin-left: 20px;">
			<div class="align-left bright about-header header-text animated fadeInUp" id="igHeaderMobile" style="color: #ffffff; line-height: 1.5;
					float: left; margin-left: 0px; margin-top: 45px; margin-bottom: 28px;
					height: 42px; visibility: visible; animation-delay: 0.1s;" translate>
				{{'about1.title'}}
			</div>
		</div>
		<a name="about" class="pin">&nbsp;</a>
		<div class="about-header header-text animated" id="igHeaderDesktop" data-animate="fadeInUp" data-delay="0.1" translate>
			{{'about1.title'}}
		</div>

		<div style="margin: auto; max-width: 1650px;">
			<div class="row justify-content-between">
				<div class="col-md-4" id="about-row-desktop">
					<div class="parallax2-image animated" data-animate="fadeInRight" data-delay="0.3">
						<div style="position: relative; margin-top: 30%; left:15px;">
							<img style="width: 100%" src="img/about_move1/Asset 92.png" alt="revolutionary-solution-image-bg-road"/>
							<img class="bounce_cube" style="position: absolute; top:-36%; left: 36%; width: 33%;" src="img/about_move1/Asset 98.png"
							alt="cybertic-cube"/>
							<img class="bounce s2" style="position: absolute; bottom:2%; right: -6%; width: 15.5%;" src="img/about_move1/Asset 97.png"
							alt="revolutionary-solution-item"/>
							<img class="bounce s3 " style="position: absolute; top:-36%; left: 14%; width: 15.5%;" src="img/about_move1/Asset 94.png"
							alt="revolutionary-solution-item"/>
							<img class="bounce s6" style="position: absolute; bottom:8%; left: -6%; width: 15.5%;" src="img/about_move1/Asset 95.png"
							alt="revolutionary-solution-item"/>
							<img class="bounce s4" style="position: absolute; top: -16%; right: 4%; width: 15.5%;" src="img/about_move1/Asset 93.png"
							alt="revolutionary-solution-item"/>
							<img class="bounce s5" style="position: absolute; bottom:-23%; left: 24%; width: 15.5%;" src="img/about_move1/Asset 96.png"
							alt="revolutionary-solution-item"/>
						</div>
					</div>
				</div>

				<div class="col-lg-8 ig-left">
					<div class="row justify-content-end pl60" id="about-row-desktop">
						<div class="col-12 col-lg-4" id="pmr4">
							<div class="icon-container animated" data-animate="fadeInUp" data-delay="0.5">
								<img src="img/about_icon/connected.png" class="animated" data-animate="fadeInUp" data-delay="0.6" alt="connected icon" />
								<div>
									<div class="accent4 text-sub-category animated" data-animate="fadeInUp" data-delay="0.7" translate>
										{{'about1.icon_title.0'}}
									</div>
									<div class="normal2 light-blue text-desc animated" data-animate="fadeInUp" data-delay="0.8" translate>
										{{'about1.icon_contents.0'}}
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-4" id="pml4">
							<div class="icon-container  animated" data-animate="fadeInUp" data-delay="0.9">
								<div>
									<img src="img/about_icon/credible.png" class="animated" data-animate="fadeInUp" data-delay="1.0" alt="credible icon">
								</div>
								<div>
									<div class="accent4 text-sub-category animated" data-animate="fadeInUp" data-delay="1.1" translate>
										{{'about1.icon_title.1'}}
									</div>
									<div class="normal2 light-blue text-desc animated" data-animate="fadeInUp" data-delay="1.2" translate>
										{{'about1.icon_contents.1'}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row pl60" id="about-row-desktop">

						<div class="col-6 col-lg-4" id="pmr4">
							<div class="icon-container animated" data-animate="fadeInUp" data-delay="1.3">
								<div>
									<img src="img/about_icon/transparent.png" class="animated" data-animate="fadeInUp" data-delay="1.4" alt="transparent icon"/>
								</div>
								<div>
									<div class="accent4 text-sub-category animated" data-animate="fadeInUp" data-delay="1.5" translate>
										{{'about1.icon_title.2'}}
									</div>
									<div class="normal2 light-blue text-desc animated" data-animate="fadeInUp" data-delay="1.6" translate="">
										{{'about1.icon_contents.2'}}
									</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-lg-4" id="pml4">
							<div class="icon-container animated" data-animate="fadeInUp" data-delay="1.7">
								<div>
									<img src="img/about_icon/tracecable.png" class="animated" data-animate="fadeInUp" data-delay="1.8" alt="TRACEABLE icon"/>
								</div>
								<div>
									<div class="accent4 text-sub-category animated" data-animate="fadeInUp" data-delay="1.9" translate>
										{{'about1.icon_title.3'}}
									</div>
									<div class="normal2 light-blue text-desc animated" data-animate="fadeInUp" data-delay="2.0" translate>
										{{'about1.icon_contents.3'}}
									</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-lg-4" id="pmr4">
							<div class="icon-container animated" data-animate="fadeInUp" data-delay="2.1">
								<div>
									<img src="img/about_icon/intelligence.png" class="animated" data-animate="fadeInUp" data-delay="2.2" alt="INSIGHTFUL icon"/>
								</div>
								<div>
									<div class="accent4 text-sub-category animated" data-animate="fadeInUp" data-delay="2.3" translate>
										{{'about1.icon_title.4'}}
									</div>
									<div class="normal2 light-blue text-desc animated" data-animate="fadeInUp" data-delay="2.4" style="margin-bottom:120px;"
									 translate>
										{{'about1.icon_contents.4'}}
									</div>
								</div>
							</div>
						</div>
					</div>




				</div>

			</div>


		</div>
		<!-- 모바일 시작 -->
		<div class="row" id="about-mobile">

			<div class="parallax2-image animated" data-animate="fadeInLeft" data-delay="0.3">

				<div style="position: relative; margin-top: 30%; left:5px;">
					<img style="width: 100%" src="img/about_move1/Asset 92.png" alt="revolutionary-solution-image-bg-road"/>

					<img class="bounce_cube" style="position: absolute; top:-16%; left: 37%; width: 33%;" src="img/about_move1/Asset 98.png"
					alt="cybertic-cube"/>
					<img class="bounce s2" style="position: absolute; bottom:6%; right: -4%; width: 14%;" src="img/about_move1/Asset 97.png"
					alt="revolutionary-solution-item"/>
					<img class="bounce s3 " style="position: absolute; top:-33%; left: 15%; width: 14%;" src="img/about_move1/Asset 94.png" alt="revolutionary-solution-item"/>
					<img class="bounce s6" style="position: absolute; bottom:11%; left: -5%; width: 14%;" src="img/about_move1/Asset 95.png"
					alt="revolutionary-solution-item"/>
					<img class="bounce s4" style="position: absolute; top: -11%; right: 4%; width: 14%;" src="img/about_move1/Asset 93.png" alt="revolutionary-solution-item"/>
					<img class="bounce s5" style="position: absolute; bottom:-15%; left: 24%; width: 14%;" src="img/about_move1/Asset 96.png"
					alt="revolutionary-solution-item"/>
				</div>
			</div>
			<div style="max-width: 380px; float: right;">
				<div class="icon-container animated" data-animate="fadeInUp" data-delay="0.5">

					<div class="icon-image-div">
						<img src="img/about_icon/connected.png" class="icon-image animated" data-animate="fadeInUp" data-delay="0.6" alt="connected icon"/>
					</div>
					<div>
						<div class="accent4 animated" data-animate="fadeInUp" data-delay="0.7" translate>
							{{'about1.icon_title.0'}}
						</div>
						<div class="normal2 animated" data-animate="fadeInUp" data-delay="0.8" translate>
							{{'about1.icon_contents.0'}}
						</div>
					</div>

				</div>

				<div class="icon-container animated" data-animate="fadeInUp" data-delay="0.9">



					<div class="icon-image-div">
						<img src="img/about_icon/credible.png" class="icon-image animated" data-animate="fadeInUp" data-delay="1.0" alt="credible icon"/>
					</div>
					<div>
						<div class="accent4 animated" data-animate="fadeInUp" data-delay="1.1" translate>
							{{'about1.icon_title.1'}}
						</div>
						<div class="normal2 animated" data-animate="fadeInUp" data-delay="1.2" translate>
							{{'about1.icon_contents.1'}}
						</div>
					</div>
				</div>

				<div class="icon-container animated" data-animate="fadeInUp" data-delay="1.3">

					<div class="icon-image-div">
						<img src="img/about_icon/transparent.png" class="icon-image animated" data-animate="fadeInUp" data-delay="1.4" alt="transparent icon"/>
					</div>
					<div>
						<div class="accent4 animated" data-animate="fadeInUp" data-delay="1.5" translate>
							{{'about1.icon_title.2'}}
						</div>
						<div class="normal2 animated" data-animate="fadeInUp" data-delay="1.6" translate>
							{{'about1.icon_contents.2'}}
						</div>
					</div>
				</div>
				<div class="icon-container animated" data-animate="fadeInUp" data-delay="1.7">


					<div class="icon-image-div">
						<img src="img/about_icon/tracecable.png" class="icon-image animated" data-animate="fadeInUp" data-delay="1.8" alt="tracecable icon"/>
					</div>
					<div>
						<div class="accent4 animated" data-animate="fadeInUp" data-delay="1.9" translate>
							{{'about1.icon_title.3'}}
						</div>
						<div class="normal2 animated" data-animate="fadeInUp" data-delay="2.0" translate>
							{{'about1.icon_contents.3'}}
						</div>
					</div>
				</div>
				<div class="icon-container animated" data-animate="fadeInUp" data-delay="2.1">


					<div class="icon-image-div">
						<img src="img/about_icon/intelligence.png" class="animated" data-animate="fadeInUp" data-delay="2.2" alt="INSIGHTFUL icon"/>
					</div>
					<div>
						<div class="accent4 animated" data-animate="fadeInUp" data-delay="2.3" translate>
							{{'about1.icon_title.4'}}
						</div>
						<div class="normal2 animated" data-animate="fadeInUp" data-delay="2.4" translate>
							{{'about1.icon_contents.4'}}
						</div>
					</div>
				</div>

			</div>



		</div>
	</div>
</div>



<div id="parallax3" class="parallax">

	<div id="revolutionary-container" class="content">

		<div id="star_wrapper" style="position: relative; left: 50px;">
			<img src="img/star_line.png" class="shining_star" style="margin-left: 100px; position: absolute; left: 0; animation-delay: 0s"
			 alt="star_line" />
			<img src="img/star_line.png" class="shining_star" style="margin-left: 100px; position: absolute; left: 20px; animation-delay: 1s"
			 alt="star_line" />
			<img src="img/star_line.png" class="shining_star" style="margin-left: 100px; position: absolute; left: 40px; animation-delay: 2s"
			 alt="star_line" />
		</div>

		<div style="margin: auto; max-width: 1650px;">
			<a name="about" class="pin">&nbsp;</a>
			<!-- <div class="col-lg-6 ig-left" style="padding-bottom:250px;"> -->
			<div class="row">
				<div class="col-md-4">
					<div class="align-left bright about-header2 header-text animated" data-animate="fadeInUp" data-delay="0.1" id="igHeaderMobile"
					 style="color: #ffffff; line-height: 1.5;
				float: right; margin-left: 0px; margin-top: -30px; margin-bottom: 28px;
				height: 42px; text-align: right;" translate>
						{{'about2.title'}}
					</div>
				</div>
			</div>
		</div>

		<div class="align-right bright about-header2 header-text animated" id="igHeaderRight" data-animate="fadeInUp" data-delay="0.1"
		 translate>
			{{'about2.title'}}
		</div>

		<div class="row">
			<div class="col-lg-8 ig-left">
				<div class="row pr60" id="about-row-desktop">

					<div class="col-6 col-lg-4" id="pmr4">
						<div class="icon-container animated" data-animate="fadeInUp" data-delay="0.5">
							<div>
								<img src="img/about_icon/vendor.png" class="animated" data-animate="fadeInUp" data-delay="0.6" alt="verified vendor icon"/>
							</div>
							<div>
								<div class="accent4 bright text-sub-category animated" translate data-animate="fadeInUp" data-delay="0.7">
									{{'about2.icon_title.0'}}
								</div>
								<div class="normal2 light-blue text-desc animated" translate data-animate="fadeInUp" data-delay="0.8">
									{{'about2.icon_contents.0'}}
								</div>
							</div>
						</div>
					</div>


					<div class="col-6 col-lg-4" id="pml4">
						<div class="icon-container animated" data-animate="fadeInUp" data-delay="0.9">
							<div>
								<img src="img/about_icon/linkeddata.png" class="animated" data-animate="fadeInUp" data-delay="1.0" alt="linked data icon"/>
							</div>
							<div>
								<div class="accent4 bright text-sub-category animated" translate data-animate="fadeInUp" data-delay="1.1">
									{{'about2.icon_title.1'}}
								</div>
								<div class="normal2 light-blue text-desc animated" translate data-animate="fadeInUp" data-delay="1.2">
									{{'about2.icon_contents.1'}}
								</div>
							</div>
						</div>
					</div>



				</div>

				<div class="row pr60" id="about-row-desktop">
					<div class="col-6 col-lg-4" id="pmr4">
						<div class="icon-container animated" data-animate="fadeInUp" data-delay="1.3">
							<div>
								<img src="img/about_icon/realreviews.png" class="animated" data-animate="fadeInUp" data-delay="1.4" alt="real reviews icon"/>
							</div>
							<div>
								<div class="accent4 bright text-sub-category animated" translate data-animate="fadeInUp" data-delay="1.5">
									{{'about2.icon_title.2'}}
								</div>
								<div class="normal2 light-blue text-desc animated" translate data-animate="fadeInUp" data-delay="1.6">
									{{'about2.icon_contents.2'}}
								</div>
							</div>
						</div>
					</div>


					<div class="col-6 col-lg-4" id="pml4">
						<div class="icon-container animated" data-animate="fadeInUp" data-delay="1.7">
							<div>
								<img src="img/about_icon/marketplace.png" class="animated" data-animate="fadeInUp" data-delay="1.8" alt="marketplace icon"/>
							</div>
							<div>
								<div class="accent4 bright text-sub-category animated" translate data-animate="fadeInUp" data-delay="1.9">
									{{'about2.icon_title.3'}}
								</div>
								<div class="normal2 light-blue text-desc animated" translate data-animate="fadeInUp" data-delay="2.0">
									{{'about2.icon_contents.3'}}
								</div>
							</div>
						</div>
					</div>

					<div class="col-6 col-lg-4" id="pmr4">
						<div class="icon-container animated" data-animate="fadeInUp" data-delay="2.1">
							<div>
								<img src="img/about_icon/analytictool.png" class="animated" data-animate="fadeInUp" data-delay="2.2" alt="business intelligence icon"/>
								<!-- <i class="animated sprite sprite-analytictool" data-animate="fadeInUp" data-delay="2.2" alt="business intelligence icon"/> -->
							</div>
							<div>
								<div class="accent4 bright text-sub-category animated" translate data-animate="fadeInUp" data-delay="2.3">
									{{'about2.icon_title.4'}}
								</div>
								<div class="normal2 light-blue text-desc animated" translate data-animate="fadeInUp" data-delay="2.4">
									{{'about2.icon_contents.4'}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 align-right" id="about-row-desktop">

				<div class="align-right animated" data-animate="fadeInRight" data-delay="0.3">
					<!-- <img src="img/about3.png" style="width: 100%" class="bounce_cube"> -->

					<div style="position: relative; margin-top: 30%; right:5px;">
						<img style="width: 100%" src="img/about_move2/Asset 91.png" alt="temco advantage road"/>
						<img class="bounce_cube" style="position: absolute; top:-36%; left: 34%; width: 33%;" src="img/about_move2/Asset 84.png"
						alt="cybertic-cube"/>
						<img class="bounce s2" style="position: absolute; bottom:8%; right: -6%; width: 15.5%;" src="img/about_move2/Asset 89.png"
						alt="temco advantage item"/>
						<img class="bounce s3 " style="position: absolute; top:-15%; left: 5%; width: 15.5%" src="img/about_move2/Asset 85.png" alt="temco advantage item"/>
						<img class="bounce s6" style="position: absolute; bottom:4%; left: -3%; width: 15.5%;" src="img/about_move2/Asset 86.png"
						alt="temco advantage item"/>
						<img class="bounce s4" style="position: absolute; top: -36%; right: 14%; width: 15.5%;" src="img/about_move2/Asset 87.png"
						alt="temco advantage item"/>
						<img class="bounce s5" style="position: absolute; bottom:-23%; left: 60%; width: 15.5%;" src="img/about_move2/Asset 88.png"
						alt="temco advantage item"/>
					</div>
				</div>

			</div>
		</div>


		<!-- 모바일 시작 -->

		<div class="row" id="about-mobile">


			<div class="float-left" style="max-width: 390px;">
				<div class="icon-container animated" data-animate="fadeInUp" data-delay="0.5">


					<div class="icon-image-div animated" data-animate="fadeInUp" data-delay="0.6">
						<img src="img/about_icon/vendor.png" class="animated" data-animate="fadeInUp" data-delay="0.7" alt="verified vendor icon"/>
					</div>
					<div>
						<div class="accent4 animated" translate data-animate="fadeInUp" data-delay="0.8">
							{{'about2.icon_title.0'}}
						</div>
						<div class="normal2 animated" translate data-animate="fadeInUp" data-delay="0.9">
							{{'about2.icon_contents.0'}}
						</div>
					</div>

				</div>

				<div class="icon-container animated" data-animate="fadeInUp" data-delay="1.0">


					<div class="icon-image-div">
						<img src="img/about_icon/linkeddata.png" class="animated" data-animate="fadeInUp" data-delay="1.1" alt="linked data icon"/>
					</div>
					<div>
						<div class="accent4 animated" translate data-animate="fadeInUp" data-delay="1.2">
							{{'about2.icon_title.1'}}
						</div>
						<div class="normal2 animated" translate data-animate="fadeInUp" data-delay="1.3">
							{{'about2.icon_contents.1'}}
						</div>
					</div>
				</div>

				<div class="icon-container animated" data-animate="fadeInUp" data-delay="1.4">


					<div class="icon-image-div animated" data-animate="fadeInUp" data-delay="1.5">
						<img src="img/about_icon/realreviews.png" alt="real reviews icon"/>
					</div>
					<div>
						<div class="accent4 animated" translate data-animate="fadeInUp" data-delay="1.6">
							{{'about2.icon_title.2'}}
						</div>
						<div class="normal2 animated" translate data-animate="fadeInUp" data-delay="1.7">
							{{'about2.icon_contents.2'}}
						</div>
					</div>
				</div>
				<div class="icon-container animated" data-animate="fadeInUp" data-delay="1.8">


					<div class="icon-image-div animated" data-animate="fadeInUp" data-delay="1.9">
						<img src="img/about_icon/marketplace.png" alt="marketplace icon"/>
					</div>
					<div>
						<div class="accent4 animated" translate data-animate="fadeInUp" data-delay="2.0">
							{{'about2.icon_title.3'}}
						</div>
						<div class="normal2 animated" translate data-animate="fadeInUp" data-delay="2.1">
							{{'about2.icon_contents.3'}}
						</div>
					</div>
				</div>
				<div class="icon-container animated" data-animate="fadeInUp" data-delay="2.2">


					<div class="icon-image-div animated" data-animate="fadeInUp" data-delay="2.3">
						<img src="img/about_icon/analytictool.png" alt="business intelligence icon"/>
					</div>
					<div>
						<div class="accent4 animated" translate data-animate="fadeInUp" data-delay="2.4">
							{{'about2.icon_title.4'}}
						</div>
						<div class="normal2 animated" translate data-animate="fadeInUp" data-delay="2.5">
							{{'about2.icon_contents.4'}}
						</div>
					</div>
				</div>
			</div>

			<div class="parallax2-image float-right animated" data-animate="fadeInRight" data-delay="0.3">
				<div style="position: relative; margin-top: 30%; right:5px;">
					<img style="width: 100%" src="img/about_move2/Asset 91.png" alt="temco advantage road"/>
					<img class="bounce_cube" style="position: absolute; top:-36%; left: 34%; width: 33%;" src="img/about_move2/Asset 84.png"
					alt="cybertic-cube"/>
					<img class="bounce s2" style="position: absolute; bottom:10%; right: -6%; width: 14%;" src="img/about_move2/Asset 89.png"
					alt="temco advantage item"/>
					<img class="bounce s3 " style="position: absolute; top:-12%; left: 5%; width: 14%" src="img/about_move2/Asset 85.png" alt="temco advantage item"/>
					<img class="bounce s6" style="position: absolute; bottom:7%; left: -3%; width: 14%;" src="img/about_move2/Asset 86.png" alt="temco advantage item"/>
					<img class="bounce s4" style="position: absolute; top: -32%; right: 15%; width: 14%;" src="img/about_move2/Asset 87.png"
					alt="temco advantage item"/>
					<img class="bounce s5" style="position: absolute; bottom:-23%; left: 60%; width: 14%;" src="img/about_move2/Asset 88.png"
					alt="temco advantage item"/>
				</div>
			</div>
		</div>

	</div>
</div>
</div>
</div>

<!-- <div id="dropOurMission">
	<img class="mission-top-img" src="img/logo_drop.png" />
</div> -->
<div class="content videoMobile" style="opacity: 1;">
	<div class="video720p">
		<div class="aboutVideo videoWrapper">
			<iframe src="https://player.vimeo.com/video/269160110?title=0&byline=0&portrait=0" width="853" height="480" frameborder="0"
			 webkitallowfullscreen mozallowfullscreen allowfullscreen>
			</iframe>
		</div>
	</div>
</div>

<div id="parallax14" class="parallax" >
	<div class="content">
		<div class="header-text use-case-header">
			NEWS
		</div>
			<ul>
				<li class="item-left">
					<a href="http://news.heraldcorp.com/view.php?ud=20180718000741" target="_blank">
						<img class="press-image press-image1" />						
						<div class="press-title">Welcome Our New Advisor</div>
					</a>
				</li>
				<li class="item-left">
					<a href="https://medium.com/temcolabs/temco-meetup-3f9671113ce7" target="_blank">
					<img class="press-image press-image2" />						
					<div class="press-title">TEMCO MEETUP!</div>
					</a>
				</li>
				<li class="item">
					<a href="https://medium.com/temcolabs/chainers-2018-block-rise-chain-world-fa877350b7" target="_blank">
					<img class="press-image press-image3" />
					<div class="press-title">Chainers 2018! Block Rise, Chain World!</div>
					
					</a>
				</li>
				<li class="item">
					<a href="https://medium.com/temcolabs/temco-x-nenia-partnership-cf7555d485cd" target="_blank">
					<img class="press-image press-image4" />
					<div class="press-title">TEMCO X NENIA Partnership</div>
					
					</a>
				</li>
			</ul>
		</div>
</div>

<!-- <div id="parallax17" class="parallax">
	<div class="header-text use-case-header">
				ADVISORY BOARD
	</div>
	<advisor-board></advisor-board>
	<div class="advisor-board-wrapper">
		<div class="advisor-board-item" ng-click="open_advisor(0)">
			<div class="advisor-board-image">
				<img src="/bio/data/gabriel_kurman.png"/>
			</div>
			<div class="board-text-wrapper">
				gabriel_kurman
			</div>
		</div>
		<div class="advisor-board-item" ng-click="open_advisor(1)">
			<img src="/bio/data/will_o_brien.png"/>
			will_o_brien
		</div>
	</div>
	<div class="advisor-board-detail-wrapper">
		<div class="advisor-board-detail" ng-style="isShow(0)">
			김경철은 개발자이다.
		</div>
		<div class="advisor-board-detail" ng-style="isShow(1)">
			김경철은 개발자이다.2
		</div>
	</div>
</div> -->

<div id="parallax4" class="parallax">
	<!-- <img class="oval-image" src="../img/effect/oval.png" alt="effect oval"/> -->
	<div class="content" style="text-align:center; padding: 0px; margin : 0 auto; ">
		<div class="row">
			<div class="margin-center">
				<div id="ourMissionHeader" translate class="animated" data-animate="fadeInUp" data-delay="0.3">
					{{'ourMission.title'}}
				</div>

				<div id="ourMissionText" translate class="animated" data-animate="fadeInUp" data-delay="0.4	">
					{{'ourMission.contents'}}
				</div>
				<div id="star_wrapper" style="position: relative; left: 50px;">
					<img src="img/star_line.png" class="shining_star" style="margin-left: 100px; position: absolute; left: 0; animation-delay: 0s"
					alt="star_line" />
					<img src="img/star_line.png" class="shining_star" style="margin-left: 100px; position: absolute; left: 20px; animation-delay: 1s"
					alt="star_line" />
					<img src="img/star_line.png" class="shining_star" style="margin-left: 100px; position: absolute; left: 40px; animation-delay: 2s"
					alt="star_line" />
				</div>
			</div>
		</div>
	</div>
</div>