#parallax5 {
	background-position-x:center;
	padding-top:300px;
	max-width: 1650px;
	margin : 0 auto;
	position:relative;
	z-index:1001;
	padding-bottom: 100px;
}

#parallax13 {
	margin-top: 200px;    
}

#parallax15 {
	margin-top: 110px;
	width: 100%;
    float: left;  
}

.download{
	height: 6vw;
	font-size: 32px;
	font-weight: 500;
	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.2;
	letter-spacing: normal;
	margin-left: 7vw;
  	color: #00fff7;
}

.download a{
	color: #00fff7;
}
.download a{
	text-decoration: none;
}

#whitepaperGraphic{
	margin-top: -550px;
	margin-right: 50px;
	width: 20vw;
}

#whitepaperHeader{
	height: 46px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	/* margin-top: 1.5vw; */
	margin-bottom:0.5vw;
	margin-left: 7vw;
	line-height: normal;
	letter-spacing: -1.2px;
	text-align: left;
	color: #ffffff;
}

#whitepaperBGGraphic{
	background:url('../img/BG ELEMENTS_WHITEPAPER.png');
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: 1;
	background-repeat: no-repeat;
	--margin-top: -80px;
	margin-left: 500px;
	--display:none;
}

#whitepaperContent{
	display: flex;
    justify-content: center;
    flex-direction: column;
	position:relative;
	z-index:2;
	background-image: url('../img/whitepaper-bg.png');
	max-width: 1650px;
	margin: 0px 134px;
	height: 32vw;
    margin: 0px 134px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100% 100%;
}

.download-image{
	display: none;
}

.prototype-text{
	font-size: 36px; 
	font-weight: 900;
	color: white;
	right: 35px;
	bottom: -90px;
	position: absolute;
}

.prototype-icon{
	height: 68px;
}

.partners-bg{
	height: 32vw;
	margin: 0px 64px;
	background-image: url('../img/partners-bg.png');
	background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100% 100%;
}

.partners-wrapper{
    height: 28vw;
    margin: 0 50px;
    background-color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
	padding: 6vw 5vw;
	position: relative;
    top: -1vw;
}

.press-wrapper{
	max-width: 1000px;
	height: 200px;
	margin: 0 auto;
	padding-bottom: 100px;
}

.partners-item{
	width: 25%;
	height: 6vw;
	line-height: 6vw;
	display: inline-block;
	font-size: 20px;
	color: white;
	text-align: center;
	float: left;
	display: inline-table;
}

.press-item{
	width: 13.6%;
	height: 80px;
	line-height: 75px;
	display: inline-block;
	font-size: 20px;
	color: white;
	text-align: center;
	float: left;
	margin: 0 15px;
}

.rsk-image {
	width: 60%; 
	position: relative; 
	top: -1.5vw;
	margin: 0 auto;
}

.partners-image{
	width: 80%;
	margin: 0 auto;
}


#parallax14 ul{
	padding: 0px;
}

#parallax14 .item{
	width: 242px;
	display: inline-block;
	margin: 10px 5px;
}

#parallax14 .item-left{
	width: 242px;
	display: inline-block;
	margin: 10px 5px;
}

.press a{
	text-decoration: none;
}

.press-title{
	color: white;
	font-size: 20px;
	text-align: left;
	margin-top: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.press-content{
	color:white;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
}

.press-image-wrapper{
	height: 174px;
}

.press-image{
	background-position: 50% 50%;
	background-origin: border-box!important;
	background-size: cover!important;
	height: 125px;
	width: 100%;
}

.press-image1{
	background-image: url("../img/news/willobrian.jpg");
}

.press-image2{
	background-image: url("https://cdn-images-1.medium.com/max/800/1*wUBpiDEBXe3scyObTeKGQg.png");
}

.press-image3{
	background-image: url("https://cdn-images-1.medium.com/max/800/1*VkSUmMqcVPQbJsPcQ9BeFg.png");
}

.press-image4{
	background-image: url("https://cdn-images-1.medium.com/max/1250/1*w-oESx6rZJHXkWx_DkHE2g.png")
}

@media only screen and (max-width: 1136px) {
	.press-wrapper{
		max-width: 800px;
	}

	.press-item {
		width: 15.1%;
		margin: 0 5px;
	}
}

@media only screen and (max-width: 1180px) {
	
	#parallax14 ul{
		columns: 2;
		width: 600px;
		margin: 0 auto;
	}

}

@media only screen and (max-width: 1024px) {
	
	
#parallax14 .item{
	width: 236px;
	display: inline-block;
	float: left;
}

#parallax14 .item-left{
	width: 236px;
	display: inline-block;
	float: right;
}

.partners-wrapper {
	height: 65vw;
	padding: 6vw 12vw;	
}

.partners-bg {
	height: 75vw;
	margin: 0;
}

.partners-item{
	width: 50%;
	height: 10vw;
	line-height: 10vw;
}

	.prototype-text{
		font-size: 24px; 
		font-weight: 900;
		color: white;
		right: 35px;
		bottom: -70px;
		position: absolute;
	}

	.prototype-icon{
		height: 48px;
	}

	#parallax5 {
		background-position-x:center;
		padding-top:200px;
		position:relative;
		z-index:1001
	}
	
	#whitepaperHeader{
		height: 24px;
		font-size: 30px;
		line-height: 0.8;
		letter-spacing: normal;
		margin-top: 2vw;
	}

	#whitepaperGraphic{
		width: 39%;
		position: absolute;
		bottom: 75px;
		right: 0px;
	}

	.download{
		width: auto;
		font-size: 26px;
		text-align: left;
		margin-left: 10%;
	}

	#whitepaperContent{
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 475px;
		margin: 0px 50px;
		background-size: 100% 84%;
		background-position-x: right;
	}

	.download img{
		width: 21px;
		height: 21px;
	}

	.download-image{
		display: inline-block;
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 767px) {

	.press-image { 
		height: 20vw;
	}

	#parallax14 .item{
		width: 100%;
	}

	#parallax14 .item-left{
		width: 100%;
	}

	.press-content{
		font-size: 12px;
	}

	#parallax14 ul {
		width: 100%;
	}

	#parallax14 .item{
		width: 100%;
	}

	#parallax14 .item-left{
		width: 100%;
	}

	.press-content{
		font-size: 12px;
	}
	
	.partners-item{
		width: 50%;
		/* height: 150px;
		line-height: 150px; */
	}

	.press-item {
		width: 25%;
		margin: 0;
	}

	#whitepaperContainer{
		padding-bottom: 60px;
	}

	#parallax5 {
		background-position-x:center;
		padding-top:100px;
		position:relative;
		z-index:1001
	}
	
	#whitepaperHeader{
		height: 24px;
		font-size: 24px;
		margin-left: 0;
	}

	#whitepaperGraphic{
		width: 39%;
		position: absolute;
		bottom: 75px;
		right: 0px;
	}

	.download{
		font-size: 14px;
		margin-left: 0;
	}

	#whitepaperContent{
		height: 40vw;
		margin-top: 250px;
		background-size: 100% 100%;
	}

	.download img{
		width: 21px;
		height: 21px;
	}

	.download-image{
		display: inline-block;
		margin-bottom: 5px;
	}

	#whitepaperGraphic{
		margin-right: 20px;
	}
}

@media only screen and (max-width: 450px) {


	.press-wrapper{
		height: auto;
	}

	.rsk-image {
		top: -10px;
	}

	#parallax13 {
		margin-top: 100px;
		display: inline-block;    
	}

	#parallax15 {
		margin-top: 50px;    
	}
		
	.partners-bg {
		height: 110vw;
		margin: 0;
	}

	.partners-wrapper {
		height: 85vw;
		padding: 5vw 2vw;
		margin: 0 4vw;
		top: 12vw;
	}
	
	.partners-item{
		width: 50%;
		height: 16vw;
		line-height: 16vw;
	}
	
	.press-title {
		font-size: 12px;
		height: 20px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.press-item{
		width: 33%;
		height: 60px;
		margin: 0;
	}

	.prototype-text{
		font-size: 12px; 
		font-weight: 900;
		color: white;
		right: 0px;
		bottom: -40px;
		position: absolute;
	}

	.prototype-icon{
		height: 24px;
	}


	#whitepaperContainer{
		margin-top: -25px;
		padding-bottom: 0px;

	}

	#parallax5 {
		background-position-x:center;
		padding-top:80px;
		padding-bottom: 50px;
		position:relative;
		z-index:1001
	}
	
	#whitepaperHeader{
		height: 24px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		margin-left: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#whitepaperGraphic{
		width: 115px;
		margin-right: 5vw;
    	top: 475px;
	}

	.download{
		opacity: 0.7;
		font-size: 12px;
		margin-left: 0px;
	}

	#whitepaperContent{
		margin: 0px 30px;
		margin-top: 150px;
		background-size: 100% 100%;
		background-position-y: bottom;
		background-repeat: no-repeat;
	}

	.download img{
		width: 4vw;
		height: 4vw;
	}

	.download-image{
		display: inline-block;
		margin-bottom: 5px;
	}

	#whitepaperContent {
		height: 45vw;
	}

}