#parallax5 {
	/* background-image: url(../img/par5.png); */
	background-position-x:center;
	padding-top:390px;
	/* height: 1679px; */
	max-width: 1650px;
	margin : 0 auto;
	/* margin-top: -350px; */
	position:relative;
	z-index:1001;
	padding-bottom: 100px;
}

.download{
	height: 44px;
	font-family: Avenir;
	font-size: 32px;
	font-weight: 500;
	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
	letter-spacing: normal;
	margin-left: 7vw;
  	color: #00fff7;
}

.download a{
	color: #00fff7;
}
.download a{
	text-decoration: none;
}

#whitepaperGraphic{
	margin-top: -350px;
	margin-right: 50px;
	width: 20vw;
}

#whitepaperHeader{
	height: 46px;
	margin-bottom:27px;
	text-transform: uppercase;
	font-family: Avenir;
	font-size: 40px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	margin-top:6.5vw;
	margin-left: 7vw;
	line-height: normal;
	letter-spacing: -1.2px;
	text-align: left;
	color: #ffffff;
}

#buttonBase{
	background:url('../img/BUTTON BASE@2x.png');
	background-repeat:no-repeat;
	text-align:center;
	margin-top:25px;
	width: 255px;
	height: 71px;
}

#whitepaperBGGraphic{
	background:url('../img/BG ELEMENTS_WHITEPAPER.png');
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: 1;
	background-repeat: no-repeat;
	--margin-top: -80px;
	margin-left: 500px;
	--display:none;
}

#whitepaperContent{
	position:relative;
	z-index:2;
	background-image: url('../img/whitepaper-bg.png');
	max-width: 1650px;
	margin: 0px 134px;
	height: 32vw;
    margin: 0px 134px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100% 100%;
}

.download-image{
	display: none;
}

.prototype-text{
	font-size: 36px; 
	font-family: Avinir; 
	font-weight: 900;
	color: white;
	right: 35px;
	bottom: -90px;
	position: absolute;
}

.prototype-icon{
	height: 68px;
}

@media only screen and (max-width: 1024px) {

	.prototype-text{
		font-size: 24px; 
		font-family: Avinir; 
		font-weight: 900;
		color: white;
		right: 35px;
		bottom: -70px;
		position: absolute;
	}

	.prototype-icon{
		height: 48px;
	}

	#whitepaperContainer{
		padding-top: 50px;
		padding-bottom: 60px;

	}

	#parallax5 {
		background-position-x:center;
		padding-top:200px;
		position:relative;
		z-index:1001
	}
	
	#whitepaperHeader{
		height: 24px;
		text-transform: uppercase;
		font-family: Avenir;
		font-size: 30px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.8;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		margin-left: -50px;
		margin-top: 0px;
		margin-bottom: 100px;
	}

	#whitepaperGraphic{
		width: 39%;
		position: absolute;
		bottom: 75px;
		right: 0px;
	}

	.download{
		width: auto;
		height: 36px;
		font-family: Avenir;
		font-size: 26px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #00fff7;
		margin-left: 10%;
		margin-top: 210px;
	}

	#whitepaperContent{
		position:relative;
		z-index:2;
		/* background-image: url('../img/anglerectangle-6.png'); */
		max-width: 1650px;
		height: 475px;
		margin: 0px 60px;
		background-size: 95% 64%;
		background-position-y: bottom;
		background-repeat: no-repeat;
		background-position-x: right;
	}

	.download img{
		width: 21px;
		height: 21px;
	}

	.download-image{
		display: inline-block;
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 767px) {

	#whitepaperContainer{
		padding-top: 50px;
		padding-bottom: 60px;

	}

	#parallax5 {
		/* background-image: url(../img/par5.png); */
		background-position-x:center;
		padding-top:100px;
		/* padding-bottom: 300px; */
		/* height: 900px; */
		position:relative;
		z-index:1001
	}
	
	#whitepaperHeader{
		height: 24px;
		text-transform: uppercase;
		font-family: Avenir;
		font-size: 30px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.8;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		margin-left: -50px;
		margin-top: 0px;
		margin-bottom: 100px;
	}

	#whitepaperGraphic{
		width: 39%;
		position: absolute;
		bottom: 75px;
		right: 0px;
	}

	.download{
		width: auto;
		height: 19px;
		font-family: Avenir;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #00fff7;
		margin-left: 10%;
		margin-top: 230px;
	}

	#whitepaperContent{
		position:relative;
		z-index:2;
		/* background-image: url('../img/anglerectangle-6.png'); */
		max-width: 1650px;
		height: 455px;
		margin: 0px 60px;
		background-size: 95% 230px;
		background-position-y: bottom;
		background-repeat: no-repeat;
		background-position-x: right;
	}

	.download img{
		width: 21px;
		height: 21px;
	}

	.download-image{
		display: inline-block;
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 450px) {

	.prototype-text{
		font-size: 12px; 
		font-family: Avenir; 
		font-weight: 900;
		color: white;
		right: 0px;
		bottom: -40px;
		position: absolute;
	}

	.prototype-icon{
		height: 24px;
	}


	#whitepaperContainer{
		padding-top: 50px;
		padding-bottom: 60px;

	}

	#parallax5 {
		background-position-x:center;
		padding-top:80px;
		position:relative;
		z-index:1001
	}
	
	#whitepaperHeader{
		height: 24px;
		text-transform: uppercase;
		font-family: Avenir;
		font-size: 14px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		margin-left: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#whitepaperGraphic{
		width: 115px;
		margin-right: 20px;
    	top: 475px;
	}

	.download{
		height: 11px;
		opacity: 0.7;
		font-family: Avenir;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #00fff7;
		margin-left: 0px;
		margin-top: 180px;
		margin-bottom: 10px;
	}

	#whitepaperContent{
		position:relative;
		z-index:2;
		/* background-image: url('../img/anglerectangle-6.png'); */
		max-width: 450px;
		height: auto;
		margin: 0px 30px;
		background-size: 100% 140px;
		background-position-y: bottom;
		background-repeat: no-repeat;
	}

	.download img{
		width: 21px;
		height: 21px;
	}

	.download-image{
		display: inline-block;
		margin-bottom: 5px;
	}
}



/* iphone 6 7 8 */
/* @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {	
	#whitepaperGraphic{
		width:142px;
		margin-right: 0px;
		margin-left: 0px;		
		margin-top: -200px;	
	}

	#whitepaperBGGraphic{
		margin-left: 0px;
		margin-top: -130px;
	}

	.download{
		font-size:12.5px;
		padding-top:18px;
	}

	#buttonBase{
		width: 188px;
		height: 53px;
	}

	#dot-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#buttonBase{				
		width: 140px;
		height: 35px;
	}

	.download2{
		display: none;
	}

	.download{
		padding-top: 10px;		
	}

	#buttonBase{
		margin-top: -30px;
	}

	#parallax6{
		margin-top: -670px !important;	
	}
} */

/* iphone 6 7 8 plus */
/* @media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {

	#whitepaperGraphic{
		width:142px;
		margin-right: 0px;
		margin-left: 0px;		
		margin-top: -200px;	
	}

	#whitepaperBGGraphic{
		margin-left: 0px;
		margin-top: -130px;
	}

	.download{
		font-size:12.5px;
		padding-top:18px;
	}

	#buttonBase{
		width: 188px;
		height: 53px;
	}

	#dot-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#buttonBase{				
		width: 140px;
		height: 35px;
	}

	.download2{
		display: none;
	}

	.download{
		padding-top: 10px;		
	}

	#buttonBase{
		margin-top: -30px;
	}

	#parallax6{
		margin-top: -970px !important;	
	}
} */


/* iphone x  */
/* @media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {

	#whitepaperGraphic{
		width:142px;
		margin-right: 0px;
		margin-left: 0px;		
		margin-top: -200px;	
	}

	#whitepaperBGGraphic{
		margin-left: 0px;
		margin-top: -130px;
	}

	#dot-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#buttonBase{				
		width: 140px;
		height: 35px;
	}

	.download2{
		display: none;
	}

	.download{
		padding-top: 10px;
		font-size:12.5px;		
	}

	#buttonBase{
		margin-top: -30px;
	}

	#parallax6{
		margin-top: -970px !important;		
	}
} */

/* galxay  */
/* @media only screen and (max-width: 360px) {
	
	#whitepaperBGGraphic {
		margin-left: 0px;
		margin-top: -130px;
	}

	#whitepaperGraphic{
		width:142px;
		margin-right: 0px;
		margin-left: 0px;		
		margin-top: -200px;	
	}

	.download{
		font-size:12.5px;
		padding-top:18px;
	}

	#buttonBase{
		width: 188px;
		height: 53px;
	}

	#dot-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#buttonBase{				
		width: 140px;
		height: 35px;
	}

	.download2{
		display: none;
	}

	.download{
		padding-top: 10px;		
	}

	#buttonBase{
		margin-top: -30px;
	}

} */
