#parallax7 {
	background-position-x:center;
	/* height: 1198px; */
	position:relative;
	z-index:999;
	margin-top:-278px;
	/* padding-top:300px; */
}

/* #parallax7 .content{
	width: 720px;
} */

#phone{
	position:relative;z-index:2;
	width:360px;
	height:730px;
}

#prototypeBGGraphic{
	/* background: url('../img/BG ELEMENTS_PROTOTYPE.png'); */
	width: 1200px;
	height: 1175px;
	position: absolute;
	z-index: 1;
	background-repeat: no-repeat;
	margin-left: -300px;
	top: -410px;
}

#prototypeHeader{
	height: 55px;
	text-transform:uppercase;
	margin-bottom:105px;
	margin-top:350px;
	
	font-size: 50px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1.2px;
	position:relative;
	color: #ffffff;

	margin-right:125px;
	margin-left:125px;
}

#download-button{
	background:url('../img/BUTTON BASE@2x.png');
	background-repeat:no-repeat;
	text-align:center;
    width: 255px;
    height: 71px;
}

.video720p{
	max-width: 720px; 
	max-height: 480px;
	margin: 0 auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1400px) {

	#phone{
		width:364px;
	}
}

@media only screen and (max-width: 1024px) {

	#prototypeBGGraphic{
		margin-left: -480px;
	}

	#phone{
		width:364px;
	}

	#prototypeHeader{
		height: 24px;
		margin-bottom:100px;
		margin-left:25px;
		margin-top:160px;
		
		font-size: 30px;
		font-weight: 900;
		line-height: 0.8;
		position:relative;
		color: #ffffff;
		float: left;
	}
}

/* @media only screen and (max-width: 900px) {
	
	#phone{
		width:320px;
		height:500px;
	}

	#prototypeBGGraphic{
		top: -665px;
	}

	#prototypeHeader{
		margin-top:400px;
	}
}


@media only screen and (max-width: 770px) {

	#prototypeBGGraphic{
		margin-left:-700px;
		top: -780px;
	}

} */


@media only screen and (max-width: 450px) {
	
	#parallax7 {
		background-position-x:center;
		height: auto;
		position:relative;
		z-index:999;
		margin-top:-378px;
		padding-top:300px;
	}

	#prototypeHeader{
		height: 24px;
		text-transform:uppercase;
		margin-bottom:22px;
		margin-top:50px;
		
		font-size: 14px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		position:relative;
		margin-left:35px;
		color: #ffffff;
		float: left;
	}
}


/* iphone 6 7 8 */
/* @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {	
	#dot-rev-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}
	
	
	#download-button{
		width: 120px;
		height: 30px;
	}

	#prototypeHeader {
		margin-top: 150px;
	}

	
	#download-desc{
		padding-top: 8px !important;
	}

	#parallax7{
		height: 1000px;
	}

	#protoContainer{
		text-align: center;
	}

	#phone{
		margin-left: auto; 
	}

} */

/* iphone 6 7 8 plus */
/* @media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
	#dot-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}
	
	#download-button{
		width: 120px;
		height: 30px;
	}

	#prototypeHeader {
		margin-top: 150px;
	}

	
	#download-desc{
		padding-top: 8px !important;
	}

	#parallax7{
		height: 1000px;
	}

	#protoContainer{
		text-align: center;
	}

	#phone{
		margin-left: auto; 
	}
} */


/* iphone x  */
/* @media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
	#dot-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	
	#download-button{
		width: 120px;
		height: 30px;
	}

	#prototypeHeader {
		margin-top: 150px;
	}

	
	#download-desc{
		padding-top: 8px !important;
	}

	#parallax7{
		height: 1000px;
	}

	#protoContainer{
		text-align: center;
	}
	
	#phone{
		margin-left: auto; 
	}
} */

/* galxay  */
/* @media only screen and (max-width: 360px) {
	#dot-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#download-button{
		width: 120px;
		height: 30px;
	}

	#prototypeHeader {
		margin-top: 150px;
	}

	#download-desc{
		padding-top: 8px !important;
	}

	#parallax7{
		height: 1000px;
	}

	#protoContainer{
		text-align: center;
	}

	#phone{
		margin-left: auto; 
	}
} */
