.navbar, nav .dropdown-menu{
	text-transform:uppercase;
	font-size:14px;
}

.navbar{
	font-family: Avenir;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.71;
	letter-spacing: normal;
	text-align: left;
	background-color:transparent;
	width:100%;
	padding:0;
}

.navbar-toggler {
	margin-right:20px;
	position:absolute;
	right:0px;
}

.nav-link{
	padding-top:0px;
	padding-bottom:0px;
}
.nav-link, .navbar-brand{
	cursor:pointer;
}

.navbar-brand{
	margin-left:70px;
	position:absolute;
	background: url('../img/TEMCO LOGO@3x.png');
	background-size:cover;
	z-index:5000;
	height: 28px;
	padding: 0px;
}

.nav-item:last-child{
	padding-right:60px;
}

.nav-item:last-child a{
	margin-right:0px;
	padding-right:0px !important;
}

.navbar-color, .navbar-color .navbar-collapse {
	background-color: #021146;
	opacity: 0.9;
}

#navContainer {
	max-width:1650px;
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	margin: 0 auto;
	vertical-align: middle;
}

.nav-link{
	color:#fff !important;
	--margin-right: 0.5rem;
	padding-left: 25px;
}

.navbar .active a{
	/* border-bottom:1.5px #72c2cc solid; */
}

.nav-item{
	margin-left:10px;
	font-size: 12px;
}

@media (max-width: 1024px) {
	.navbar-brand{
		margin-left:35px;
	}
	.nav-item:last-child{
		padding-right:40px;
	}

}

@media (min-width: 1025px) {

	.navbar-expand-custom {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
		flex-direction: row;
	}
	.navbar-expand-custom .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem;
	}
	.navbar-expand-custom .navbar-collapse {
		display: flex!important;
	}
	.navbar-expand-custom .navbar-toggler {
		display: none;
	}
}

@media (max-width: 1024px) {
	
	.navbar-collapse {
		display: block;
		height: 102vh;
		width: 0;
		position: absolute;
		right: 0px;
	}
	
	.collapsing {
		position: absolute;	
		right: 0;
		width: 0px;
		height: 102vh !important;
		overflow: hidden;
		transition: width 0.35s ease;
		background-color:#021146;
		margin-top:-25px;
		opacity: 0.95;
	}
	
	button[aria-expanded="false"] ~ .collapsing {
		width: 0;
	}
	
	button[aria-expanded="true"] ~ .collapsing {
		width: 70%;
		opacity: 0.95;
	}
	
	button[aria-expanded="true"] ~ .navbar-color {
		opacity: 1;
	}

	.navbar-collapse{
		padding-top:120px;
		/* padding-left:30px; */
		padding-bottom:25px;
	}

	.nav-item{
		margin-left: 30px;
    	font-size: 20px;
	}

	.collapse.show{
		background-color:#021146;
		margin-top:-25px;
		opacity: 0.95;
		display:block !important;
		width: 70%;
		height: 102vh;
		position: absolute;
		right: 0px;
		/* top: 75px; */
	}
/* 
	.collapse.show, .collapsing{
		background-color:#021146;
		margin-top:-25px;
		opacity: 0.9;
		display:block !important;
		width: 80%;
		height: 100vh;
		position: absolute;
		right: 0px;
	} */

	#navContainer {
		width: 100%;
		height: 75px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0 auto;
		vertical-align: middle;
	}

	
}
@media only screen and (max-width: 768px) {


}

@media only screen and (max-width: 450px) {

	#navContainer {
		width:100%;
		height: 75px;
		margin: 0 auto;
		vertical-align: middle;
	}

	.navbar-brand{
		margin-left: 35px;
	}

	.navbar-toggler {
		margin-right: 10px;
	}

	#headerTransform{
		margin-top: 30px !important;
	}

}
/* iphone 6+, 6s+, 7+, 8+ 
@media only screen and (max-width: 415px) {
	.navbar-brand{
		width:38px !important;
		background-image: url('../img/temcoLogoSmall.png');
		margin-left: 10px;
	}

	#navContainer {
		padding-top:10px;
		height:60px;
	}

	.navbar-toggler {
		margin-right: 10px;
	}

	#headerTransform{
		margin-top: 30px !important;
	}

	#headerCube {
		top: 300px !important;
		width: 630px !important;;
	}

	#header-bar-img{
		width: 70px;
	}

	#header-bar-dot{
		margin-top: 0px !important;
		margin-left: 0px !important;
		width: 7px !important;
		vertical-align: bottom !important;
		margin-left: 3px !important
	}

	.header2{
		margin-bottom: 0px !important; 
	}
	

	#headerCubeLeft {
		left: -0px !important; 
		top: 0px !important; 
		width: 250px !important;
	}

} */

