#parallax1{
	/* background-image: url(../img/par1.png); */
	background-position-x:left;
	/* min-height:1200px; */
	color:#fff;
	padding-top:60px;
	padding-bottom: 250px;
}

#parallax1 .content{
	margin-top: 140px;
}

.header1{
	height: 96px;
	margin-top:114px;
	margin-bottom:22px;
	/* text-transform:uppercase; */
	
	font-size: 70px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.header2{
	height: 41px;
	margin-bottom:41px;
	/* text-transform:uppercase; */
	
	font-size: 30px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.63;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.header3{
	text-transform:uppercase;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.88;
	letter-spacing: 1.2px;
	text-align: left;
	color: #ffffff;
	width:541px;
	display:block;
}

.header3-kr{
	font-size: 14px;
	font-weight: 500;
	line-height: 1.88;
	letter-spacing: 1.2px;
	text-align: left;
	color: #ffffff;
	width:541px;
	display:block;
}


.header3m{
	display:none;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.text-change{
	color: #00fff7;
	width:240px;
	display:inline-block;
	text-align:center;
	/* width: 300px; */
	/* -webkit-animation: fadein 3s infinite;
    -moz-animation: fadein 3s infinite;
    animation: fadein 3s infinite; */

	/* -webkit-animation: fadein 0.5s ease-in alternate infinite;
    -moz-animation: fadein 0.5s ease-in alternate infinite;
    animation: fadein 0.5s ease-in alternate infinite; */
}

#headerCubeLeft{
	position:absolute;
	left: -155px;
	top: 75px;
}

#headerCube{
	/* position: absolute; */
	/* right: 70px;
	top: 200px; */
	max-width:646px;
	max-height:715px;
	/* width: 646px;
	height: 715px; */
	/* background-color: #fff; */
	/* background-size:contain;
	background-repeat:no-repeat; */
}

#headerBinary{
	position: absolute;
	right: 65px;
	top: 35px;
	width:210px;
	height:595px;
	background-image: url(../img/headerBinaryCode.png);
	background-repeat:no-repeat;
}

.change-text{
	width: 18vw
}

@media only screen and (max-width: 1650px) {
	#headerCube{
		right:-110px;
	}

	.header1{
		font-size: 56px;
		height: 76px;
	}

	.header2{
		font-size: 24px;
		height: 33px;
	}

	.header3{
		font-size: 10px;
		height: 32px;
		display:block;
	}

	.header3-kr{
		font-size: 16px;
		height: 32px;
	}

	#headerBinary{
		position: absolute;
		right: 65px;
		top: 35px;
	}
}


@media (max-width: 1400px) {

	.header1{
		font-size: 48px;
		height: 66px;
	}

	.header2{
		font-size: 22px;
		height: 30px;
	}

	.header3{
		font-size: 10px;
		height: 32px;
		display:block;
	}

	
	.header3-kr{
		font-size: 16px;
		height: 32px;
	}

	#headerCube{
		right:-150px;
		
	}

	#headerBinary{
		position: absolute;
		right: 35px;
		top: 35px;
		--width:150px;
	}

}

@media (max-width: 1200px) {

	.header1{
		font-size: 40px;
		height: 55px;
	}

	.header2{
		font-size: 18px;
		height: 25px;
	}

	.header3{
		font-size: 8px;
		height: 26px;
		display:block;
	}

	
	.header3-kr{
		font-size: 14px;
		height: 32px;
	}

	#headerCube{
		right:-150px;

	}

	#headerBinary{
		position: absolute;
		right: 35px;
		top: 35px;
		--width:150px;
	}

}

@media (max-width: 1024px) {

	#force-100{
		flex: 0 0 100%;
		max-width: 100%;
	}

	#parallax1{
		padding-bottom: 0px;
	}

	#headerBinary{
		display:none;
	}

	#headerCube{
		width: 550px;
		margin-top: 140px;
		float: right;
	}

	.header1{
		font-size:24px;
		height :82px;
		margin-bottom: 28px;
		margin-top: 0px;
		
		font-size: 60px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
	}

	.header2{
		font-size:25px;
		height :34px;
		margin-bottom: 28px;
	}

	.header3{
		display:none;
	}

	.header3m{
		height: 36px;
		opacity: 0.5;
		
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-transform: uppercase;
		display: block;
	}

	.change-text{
		width: 28vw !important;
	}

}
/* 
@media only screen and (max-width: 818px) {

	.header1{
		line-height: 1 !important;
	}
} */

@media (max-width: 767px) {

	#force-100{
		flex: 0 0 100%;
		max-width: 100%;
	}

	#parallax1{
		padding-bottom: 0px;
	}

	#headerBinary{
		display:none;
	}

	#headerCube{
		width: 100%;
		margin-top: 140px;
		float: right;
	}

	.header1{
		font-size:24px;
		height :7.5vw;
		margin-bottom: 7vw;
		margin-top: 0px;
		
		font-size: 7.5vw;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
	}

	.header2{
		font-size:3.5vw;
		height :34px;
		margin-bottom: 3vw;
	}

	.header3{
		display:none;
	}

	.header3m{
		height: 36px;
		opacity: 0.5;
		
		font-size: 2vw;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-transform: uppercase;
		display: block;
	}

	.change-text{
		width: 28vw !important;
	}
}

@media (max-width: 450px) {

	#parallax1{
		padding-bottom: 0px;
	}

	#parallax1 .content{
		margin-top: 30px;
	}

	#headerBinary{
		display:none;
	}

	#headerCube{
		width: 250px;
		margin-top: 70px;
		float: right;
	}

	.header1{
		font-size:24px;
		height :34px;
		margin-bottom: 18px;
		margin-top: 0px;
		
		font-size: 25px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
	}

	.header2{
		font-size:14px;
		height :16px;
		margin-bottom: 15px;
	}

	.header3{
		font-size:14px;
		height :41px;
		display:none;
	}

	.header3m{
		height: 18px;
		opacity: 0.5;
		font-size: 11px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-transform: uppercase;
		display: block;
	}

	.change-text{
		width: 28vw !important;
	}

	
}
/* iphone 6 7 8 */
/* @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {

	#headerCubeLeft {	
		top: 80px; 		
	}

	#headerCube {
		top: 300px;	
	}

	.header1{
		font-size:24px;
		height :33px;
		margin-bottom: 18px;
	}

	.header2{
		font-size:12px;
		height :16px;
		margin-bottom: 15px;
	}

	.header3{
		font-size:8px;
		height :41px;
		display:none;
	}

	.header3m{
		font-size:8px;
		height :41px;
		display: block;
	}
} */

/* iphone 6 7 8 plus */
/* @media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
	
	#headerCubeLeft {	
		top: 80px; 		
	}

	#headerCube {
		top: 370px;
		margin-right: 30px;
	}

	.header1{
		font-size:24px;
		height :33px;
		margin-bottom: 18px;
	}

	.header2{
		font-size:12px;
		height :16px;
		margin-bottom: 15px;
	}

	.header3{
		font-size:8px;
		height :41px;
		display:none;
	}

	.header3m{
		font-size:8px;
		height :41px;
		display: block;
	}
} */

/* iphone x  */
/* @media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {

	#headerCubeLeft {
		left: -0px; 
		top: 100px; 
		width: 250px;
	}

	#headerCube {
		top: 350px;
		width: 630px;
	}

	.header1{
		font-size:24px;
		height :33px;
		margin-bottom: 18px;
	}

	.header2{
		font-size:12px;
		height :16px;
		margin-bottom: 15px;
	}

	.header3{
		font-size:8px;
		height :41px;
		display:none;
	}

	.header3m{
		font-size:8px;
		height :41px;
		display: block;
	}
} */

/* galxay  */
/* @media only screen and (max-width: 360px) {

	#headerCubeLeft {	
		top: 80px !important; 		
	}

	#headerCube {
		top: 300px !important;
		margin-right: 0px !important;
	}

	.header1{
		font-size:24px;
		height :33px;
		margin-bottom: 18px;
	}

	.header2{
		font-size:12px;
		height :16px;
		margin-bottom: 15px;
	}

	.header3{
		font-size:8px;
		height :41px;
		display:none;
	}

	.header3m{
		font-size:8px;
		height :41px;
		display: block;

	}
} */
